@import "tailwindcss";

@theme {
  --font-sans: "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-serif: "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {
  html {
    font-size: 116%;
  }
  body {
    @apply bg-[#0B0F19] text-slate-100 antialiased font-serif;
  }
}